Import pandas as the library we will be preparing the data with:

In [1]:
import pandas as pd
import numpy as np

Read the file into a variable.
If you would like to view the basics of the dataframe: the number of rows and columns and their names, as well as how many times there is non-existant data use datafile.info()

In [2]:
df = pd.read_csv("Daily 2019.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 31 columns):
Longitude (x)                365 non-null float64
Latitude (y)                 365 non-null float64
Station Name                 365 non-null object
Climate ID                   365 non-null int64
Date/Time                    365 non-null object
Year                         365 non-null int64
Month                        365 non-null int64
Day                          365 non-null int64
Data Quality                 0 non-null float64
Max Temp (°C)                306 non-null float64
Max Temp Flag                4 non-null object
Min Temp (°C)                306 non-null float64
Min Temp Flag                4 non-null object
Mean Temp (°C)               306 non-null float64
Mean Temp Flag               4 non-null object
Heat Deg Days (°C)           306 non-null float64
Heat Deg Days Flag           4 non-null object
Cool Deg Days (°C)           306 non-null float64
Cool Deg Days Flag           4 non-null object
Total Rain (mm)              0 non-null float64
Total Rain Flag              0 non-null float64
Total Snow (cm)              0 non-null float64
Total Snow Flag              0 non-null float64
Total Precip (mm)            0 non-null float64
Total Precip Flag            310 non-null object
Snow on Grnd (cm)            0 non-null float64
Snow on Grnd Flag            0 non-null float64
Dir of Max Gust (10s deg)    167 non-null float64
Dir of Max Gust Flag         0 non-null float64
Spd of Max Gust (km/h)       167 non-null float64
Spd of Max Gust Flag         0 non-null float64
dtypes: float64(19), int64(4), object(8)
memory usage: 88.5+ KB

View the top rows down using head. Head by default displays the top 5

In [3]:
df.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.17,43.19,ST CATHARINES A,6137304,2019-01-01,2019,1,1,NaN,12.0,...,NaN,NaN,NaN,M,NaN,NaN,26.0,NaN,62.0,NaN
1,-79.17,43.19,ST CATHARINES A,6137304,2019-01-02,2019,1,2,NaN,2.9,...,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN
2,-79.17,43.19,ST CATHARINES A,6137304,2019-01-03,2019,1,3,NaN,3.0,...,NaN,NaN,NaN,M,NaN,NaN,27.0,NaN,45.0,NaN
3,-79.17,43.19,ST CATHARINES A,6137304,2019-01-04,2019,1,4,NaN,8.0,...,NaN,NaN,NaN,M,NaN,NaN,21.0,NaN,55.0,NaN
4,-79.17,43.19,ST CATHARINES A,6137304,2019-01-05,2019,1,5,NaN,3.5,...,NaN,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN,NaN

View the bottom rows up using tail. Tail by default displays the bottom 5

In [4]:
df.tail(3)

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
362,-79.17,43.19,ST CATHARINES A,6137304,2019-12-29,2019,12,29,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,-79.17,43.19,ST CATHARINES A,6137304,2019-12-30,2019,12,30,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364,-79.17,43.19,ST CATHARINES A,6137304,2019-12-31,2019,12,31,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

To view the basic statistic of a given column of numbers (integers or floats), use df['row_name'].describe(). The 'row_name' is optional

In [5]:
df['Max Temp (°C)'].describe()

count    306.000000
mean      15.453595
std       11.156617
min      -13.500000
25%        6.825000
50%       17.400000
75%       24.800000
max       33.600000
Name: Max Temp (°C), dtype: float64

We don't want all of these columns in the dataframe, as we are only going to be using specific columns' data, so we're going to pick out the columns that we want to use, and reassign the data that we want to a new variable called df1.

Note: If you would rather erase the the columns than just specify which columns/rows you want to keep, you would use .drop()

Additional Note: if you want to drop a row, you would change the axis=1 to axis=0

In [6]:
df1 = df[['Date/Time','Year','Month','Day','Max Temp (°C)','Min Temp (°C)']]
df1b = df.drop(['Climate ID','Data Quality'],axis=1)
df1.head()

    Date/Time  Year  Month  Day  Max Temp (°C)  Min Temp (°C)
0  2019-01-01  2019      1    1           12.0           -4.3
1  2019-01-02  2019      1    2            2.9           -5.0
2  2019-01-03  2019      1    3            3.0            0.1
3  2019-01-04  2019      1    4            8.0           -3.0
4  2019-01-05  2019      1    5            3.5           -4.1

Now there is a lot of NaN's (or non-existant data) in the columns that we are going to be using, especially towards the end of the dataframe as this particular set of data was obtained on November 7th, 2019. That being said, we cannot guarantee that there are rows randomly sprinkled throughout the dataframe that also have NaN in place of actual data. So we are going to filter out the rows that have 3 or more NaN's. df.dropna(thresh=n) will give us a dataframe that has at least n definite values, but let's say that we want to filter out rows with at least n NaN's instead of filtering the definite values, so we use df.dropna(thresh=df.shape[1]-n)

In this example we want to filter the rows that have 2 NaN's in the Min and Max Temp Columns, so we can use:

In [7]:
df2 = df1.dropna(subset=['Max Temp (°C)','Min Temp (°C)'], thresh=2)
df2.head()

    Date/Time  Year  Month  Day  Max Temp (°C)  Min Temp (°C)
0  2019-01-01  2019      1    1           12.0           -4.3
1  2019-01-02  2019      1    2            2.9           -5.0
2  2019-01-03  2019      1    3            3.0            0.1
3  2019-01-04  2019      1    4            8.0           -3.0
4  2019-01-05  2019      1    5            3.5           -4.1

But let's say that we want to filter out everything from November 7th on, and ignore if there are any random other rows with  NaN's. So what we can do is use our and/ors.

Basically using the and/ors, we will filter the data into a new dataframe, df2b, where the number of the month is either less than 11 (November), or the month is 11 and the date is less than the 7th

Note: | means 'or' and & means 'and' in Pandas speech. Regular Python just uses 'and' and 'or.'

In [8]:
df2b = df1[(df.Month < 11)|((df.Month == 11)&(df.Day < 7))]
df2b

      Date/Time  Year  Month  Day  Max Temp (°C)  Min Temp (°C)
0    2019-01-01  2019      1    1           12.0           -4.3
1    2019-01-02  2019      1    2            2.9           -5.0
2    2019-01-03  2019      1    3            3.0            0.1
3    2019-01-04  2019      1    4            8.0           -3.0
4    2019-01-05  2019      1    5            3.5           -4.1
5    2019-01-06  2019      1    6            4.3           -5.0
6    2019-01-07  2019      1    7            6.7           -5.6
7    2019-01-08  2019      1    8            9.3            2.7
8    2019-01-09  2019      1    9            3.1           -3.3
9    2019-01-10  2019      1   10           -3.3           -7.3
10   2019-01-11  2019      1   11           -6.2          -10.0
11   2019-01-12  2019      1   12           -3.5           -6.5
12   2019-01-13  2019      1   13           -4.2           -8.8
13   2019-01-14  2019      1   14           -1.4          -11.3
14   2019-01-15  2019      1   15            0.1           -3.8
15   2019-01-16  2019      1   16            1.2          -10.7
16   2019-01-17  2019      1   17           -3.9          -12.2
17   2019-01-18  2019      1   18            0.7           -4.5
18   2019-01-19  2019      1   19           -3.6           -9.8
19   2019-01-20  2019      1   20           -9.8          -17.8
20   2019-01-21  2019      1   21          -10.2          -17.9
21   2019-01-22  2019      1   22            1.5          -17.9
22   2019-01-23  2019      1   23            8.5            0.4
23   2019-01-24  2019      1   24            4.7           -3.0
24   2019-01-25  2019      1   25           -2.3          -10.2
25   2019-01-26  2019      1   26           -3.9          -11.9
26   2019-01-27  2019      1   27           -0.4          -12.0
27   2019-01-28  2019      1   28           -5.7          -15.5
28   2019-01-29  2019      1   29            1.0          -13.9
29   2019-01-30  2019      1   30          -13.5          -20.1
..          ...   ...    ...  ...            ...            ...
280  2019-10-08  2019     10    8           17.8            4.5
281  2019-10-09  2019     10    9           18.4            4.3
282  2019-10-10  2019     10   10           17.9            3.9
283  2019-10-11  2019     10   11           22.3            5.5
284  2019-10-12  2019     10   12           15.9            3.1
285  2019-10-13  2019     10   13           18.7            4.1
286  2019-10-14  2019     10   14           12.5            2.0
287  2019-10-15  2019     10   15           15.8            1.4
288  2019-10-16  2019     10   16           16.1            6.7
289  2019-10-17  2019     10   17            9.6            8.1
290  2019-10-18  2019     10   18           11.5            0.6
291  2019-10-19  2019     10   19           13.9           -0.2
292  2019-10-20  2019     10   20           17.4            1.9
293  2019-10-21  2019     10   21           20.7            3.6
294  2019-10-22  2019     10   22           16.8            9.1
295  2019-10-23  2019     10   23           14.7            7.2
296  2019-10-24  2019     10   24           16.9            5.5
297  2019-10-25  2019     10   25           11.3            5.1
298  2019-10-26  2019     10   26           13.0            0.3
299  2019-10-27  2019     10   27           17.0            9.1
300  2019-10-28  2019     10   28           17.4            4.1
301  2019-10-29  2019     10   29           19.1            3.7
302  2019-10-30  2019     10   30           12.2            9.3
303  2019-10-31  2019     10   31           14.1            4.6
304  2019-11-01  2019     11    1            4.8           -0.4
305  2019-11-02  2019     11    2            8.1            0.9
306  2019-11-03  2019     11    3            7.4           -1.0
307  2019-11-04  2019     11    4           12.8            2.0
308  2019-11-05  2019     11    5           10.9            1.8
309  2019-11-06  2019     11    6            6.2           -1.8

[310 rows x 6 columns]

That being said, if you would rather fill in the data with some number/string, what you can do is use .fillna() where it will input 0's in place of NaN's. If you would rather use another number/string, you would replace the 0 with it.

In [9]:
df2c = df1.fillna(0)
df2c

      Date/Time  Year  Month  Day  Max Temp (°C)  Min Temp (°C)
0    2019-01-01  2019      1    1           12.0           -4.3
1    2019-01-02  2019      1    2            2.9           -5.0
2    2019-01-03  2019      1    3            3.0            0.1
3    2019-01-04  2019      1    4            8.0           -3.0
4    2019-01-05  2019      1    5            3.5           -4.1
5    2019-01-06  2019      1    6            4.3           -5.0
6    2019-01-07  2019      1    7            6.7           -5.6
7    2019-01-08  2019      1    8            9.3            2.7
8    2019-01-09  2019      1    9            3.1           -3.3
9    2019-01-10  2019      1   10           -3.3           -7.3
10   2019-01-11  2019      1   11           -6.2          -10.0
11   2019-01-12  2019      1   12           -3.5           -6.5
12   2019-01-13  2019      1   13           -4.2           -8.8
13   2019-01-14  2019      1   14           -1.4          -11.3
14   2019-01-15  2019      1   15            0.1           -3.8
15   2019-01-16  2019      1   16            1.2          -10.7
16   2019-01-17  2019      1   17           -3.9          -12.2
17   2019-01-18  2019      1   18            0.7           -4.5
18   2019-01-19  2019      1   19           -3.6           -9.8
19   2019-01-20  2019      1   20           -9.8          -17.8
20   2019-01-21  2019      1   21          -10.2          -17.9
21   2019-01-22  2019      1   22            1.5          -17.9
22   2019-01-23  2019      1   23            8.5            0.4
23   2019-01-24  2019      1   24            4.7           -3.0
24   2019-01-25  2019      1   25           -2.3          -10.2
25   2019-01-26  2019      1   26           -3.9          -11.9
26   2019-01-27  2019      1   27           -0.4          -12.0
27   2019-01-28  2019      1   28           -5.7          -15.5
28   2019-01-29  2019      1   29            1.0          -13.9
29   2019-01-30  2019      1   30          -13.5          -20.1
..          ...   ...    ...  ...            ...            ...
335  2019-12-02  2019     12    2            0.0            0.0
336  2019-12-03  2019     12    3            0.0            0.0
337  2019-12-04  2019     12    4            0.0            0.0
338  2019-12-05  2019     12    5            0.0            0.0
339  2019-12-06  2019     12    6            0.0            0.0
340  2019-12-07  2019     12    7            0.0            0.0
341  2019-12-08  2019     12    8            0.0            0.0
342  2019-12-09  2019     12    9            0.0            0.0
343  2019-12-10  2019     12   10            0.0            0.0
344  2019-12-11  2019     12   11            0.0            0.0
345  2019-12-12  2019     12   12            0.0            0.0
346  2019-12-13  2019     12   13            0.0            0.0
347  2019-12-14  2019     12   14            0.0            0.0
348  2019-12-15  2019     12   15            0.0            0.0
349  2019-12-16  2019     12   16            0.0            0.0
350  2019-12-17  2019     12   17            0.0            0.0
351  2019-12-18  2019     12   18            0.0            0.0
352  2019-12-19  2019     12   19            0.0            0.0
353  2019-12-20  2019     12   20            0.0            0.0
354  2019-12-21  2019     12   21            0.0            0.0
355  2019-12-22  2019     12   22            0.0            0.0
356  2019-12-23  2019     12   23            0.0            0.0
357  2019-12-24  2019     12   24            0.0            0.0
358  2019-12-25  2019     12   25            0.0            0.0
359  2019-12-26  2019     12   26            0.0            0.0
360  2019-12-27  2019     12   27            0.0            0.0
361  2019-12-28  2019     12   28            0.0            0.0
362  2019-12-29  2019     12   29            0.0            0.0
363  2019-12-30  2019     12   30            0.0            0.0
364  2019-12-31  2019     12   31            0.0            0.0

[365 rows x 6 columns]

But let's say that there are some outliers in your dataset. Instead of just dropping them, you can replace them with NaN's using the replace() method (if you have a specific number you're looking for). 
Note: np.nan uses the NumPy library, which was imported earlier in the program alongside pandas

In [10]:
df3 = df2.replace([-5.0,-10.0],np.nan)
df3

      Date/Time  Year  Month  Day  Max Temp (°C)  Min Temp (°C)
0    2019-01-01  2019      1    1           12.0           -4.3
1    2019-01-02  2019      1    2            2.9            NaN
2    2019-01-03  2019      1    3            3.0            0.1
3    2019-01-04  2019      1    4            8.0           -3.0
4    2019-01-05  2019      1    5            3.5           -4.1
5    2019-01-06  2019      1    6            4.3            NaN
6    2019-01-07  2019      1    7            6.7           -5.6
7    2019-01-08  2019      1    8            9.3            2.7
8    2019-01-09  2019      1    9            3.1           -3.3
9    2019-01-10  2019      1   10           -3.3           -7.3
10   2019-01-11  2019      1   11           -6.2            NaN
11   2019-01-12  2019      1   12           -3.5           -6.5
12   2019-01-13  2019      1   13           -4.2           -8.8
13   2019-01-14  2019      1   14           -1.4          -11.3
14   2019-01-15  2019      1   15            0.1           -3.8
15   2019-01-16  2019      1   16            1.2          -10.7
16   2019-01-17  2019      1   17           -3.9          -12.2
17   2019-01-18  2019      1   18            0.7           -4.5
18   2019-01-19  2019      1   19           -3.6           -9.8
19   2019-01-20  2019      1   20           -9.8          -17.8
20   2019-01-21  2019      1   21          -10.2          -17.9
21   2019-01-22  2019      1   22            1.5          -17.9
22   2019-01-23  2019      1   23            8.5            0.4
23   2019-01-24  2019      1   24            4.7           -3.0
24   2019-01-25  2019      1   25           -2.3          -10.2
25   2019-01-26  2019      1   26           -3.9          -11.9
26   2019-01-27  2019      1   27           -0.4          -12.0
27   2019-01-28  2019      1   28           -5.7          -15.5
28   2019-01-29  2019      1   29            1.0          -13.9
29   2019-01-30  2019      1   30          -13.5          -20.1
..          ...   ...    ...  ...            ...            ...
280  2019-10-08  2019     10    8           17.8            4.5
281  2019-10-09  2019     10    9           18.4            4.3
282  2019-10-10  2019     10   10           17.9            3.9
283  2019-10-11  2019     10   11           22.3            5.5
284  2019-10-12  2019     10   12           15.9            3.1
285  2019-10-13  2019     10   13           18.7            4.1
286  2019-10-14  2019     10   14           12.5            2.0
287  2019-10-15  2019     10   15           15.8            1.4
288  2019-10-16  2019     10   16           16.1            6.7
289  2019-10-17  2019     10   17            9.6            8.1
290  2019-10-18  2019     10   18           11.5            0.6
291  2019-10-19  2019     10   19           13.9           -0.2
292  2019-10-20  2019     10   20           17.4            1.9
293  2019-10-21  2019     10   21           20.7            3.6
294  2019-10-22  2019     10   22           16.8            9.1
295  2019-10-23  2019     10   23           14.7            7.2
296  2019-10-24  2019     10   24           16.9            5.5
297  2019-10-25  2019     10   25           11.3            5.1
298  2019-10-26  2019     10   26           13.0            0.3
299  2019-10-27  2019     10   27           17.0            9.1
300  2019-10-28  2019     10   28           17.4            4.1
301  2019-10-29  2019     10   29           19.1            3.7
302  2019-10-30  2019     10   30           12.2            9.3
303  2019-10-31  2019     10   31           14.1            4.6
304  2019-11-01  2019     11    1            4.8           -0.4
305  2019-11-02  2019     11    2            8.1            0.9
306  2019-11-03  2019     11    3            7.4           -1.0
307  2019-11-04  2019     11    4           12.8            2.0
308  2019-11-05  2019     11    5           10.9            1.8
309  2019-11-06  2019     11    6            6.2           -1.8

[306 rows x 6 columns]

If you just want to replace one specific value at one specific location, you can do:

In [11]:
df3c = df2
df3c.at[4,'Min Temp (°C)'] = np.nan
df3c.iloc[4]

Date/Time        2019-01-05
Year                   2019
Month                     1
Day                       5
Max Temp (°C)           3.5
Min Temp (°C)           NaN
Name: 4, dtype: object

Let's assume that we only know that the outlier is at 2019-03-09 and that we want the Max Temp value to change, but we don't know the row number. 

We don't want to go searching through all of the data to pick out that one specific spot. Python can do all of that for us too by using if statements and for-loops.

The piece of code below loops through the dataset via the index, searching for the row where both the Month and Day columns have values equal to what was specified. Then after it changes the value in the column specified to NaN, it leaves the loop using 'break'

In [12]:
df3d = df2
for i in df3d.index: 
    if (df3d.at[i,'Month']==3 and df3d.at[i,'Day']==9):
        df3d.at[i,'Max Temp (°C)'] = np.nan
        break
df3d.iloc[67]

Date/Time        2019-03-09
Year                   2019
Month                     3
Day                       9
Max Temp (°C)           NaN
Min Temp (°C)         -12.5
Name: 67, dtype: object

Now, to finish off this preparing of the data, we are going to export it to a csv file. We do this by using dfname.to_csv('filename').

In [13]:
df2.to_csv('2019 Weather Data')

For the sake of a something that we will be doing later, let's split the dataframe df2 into months (Note: this means that because we're using df2, which has only a fraction of November and none of December, there will be no December data) and then export those into csv files. We can do this by:

In [14]:
df_jan = df2[df2['Month']==1]
df_jan.to_csv('Jan Data')

df_feb = df2[df2['Month']==2]
df_feb.to_csv('Feb Data')

df_mar = df2[df2['Month']==3]
df_mar.to_csv('Mar Data')

df_apr = df2[df2['Month']==4]
df_apr.to_csv('Apr Data')

df_may = df2[df2['Month']==5]
df_may.to_csv('May Data')

df_jun = df2[df2['Month']==6]
df_jun.to_csv('Jun Data')

df_jul = df2[df2['Month']==7]
df_jul.to_csv('Jul Data')

df_aug = df2[df2['Month']==8]
df_aug.to_csv('Aug Data')

df_sep = df2[df2['Month']==9]
df_sep.to_csv('Sep Data')

df_oct = df2[df2['Month']==10]
df_oct.to_csv('Oct Data')

df_nov = df2[df2['Month']==11]
df_nov.to_csv('Nov Data')